node_modules
# Gradle build files
android/.gradle/
android/build/
android/gradle/
android/app/build/
android/app/intermediates/
android/app/generated/
android/app/.cxx/
android/app/.externalNativeBuild/
android/captures/
android/outputs/
# IDE files (Android Studio)
android/.idea/

# React Native iOS build files
ios/build/



# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
android/app/debug/app-debug.apk
